<div class="card__container">
  <div class="card__container__header">
    <img src="../../../assets/visa.svg" alt="" />
    <img src="../../../assets/contactless-payment.svg" alt="" />
  </div>
  <div class="card__container__body">
    <span class="card__container--number">****</span>
    <span class="card__container--number">****</span>
    <span class="card__container--number">****</span>
    <span class="card__container--number">****</span>
  </div>
  <div class="card__container__footer">
    <span class="card__container__footer--name">Seu nome aqui</span>
    <span class="card__container__footer--due-date">**/**</span>
  </div>
</div>
