<div class="form__container">
  <div class="form__container__topside">
    <div class="form__container--input">
      <label class="form__container--input-label" for=""
        >Número do cartão</label
      >
      <input
        class="form__container--input-input"
        type="text"
        placeholder="Numero no verso do cartão"
      />
    </div>
    <div class="form__container--input">
      <label class="form__container--input-label" for="">Nome do titular</label>
      <input
        class="form__container--input-input"
        type="text"
        placeholder="Nome como está no cartão"
      />
    </div>
  </div>
  <div class="form__container__bottomside">
    <div class="form__container--input">
      <label class="form__container--input-label" for="">Valdiade</label>
      <input
        class="form__container--input-input"
        type="text"
        placeholder="mm/aa"
      />
    </div>
    <div class="form__container--input--cvv">
      <label class="form__container--input-label" for="">CVV</label>
      <input
        class="form__container--input-input"
        type="text"
        placeholder="***"
      />
    </div>
  </div>
</div>
